APP_MODE=LOCAL
ENV=dev
DEV_LOG_PRETTY=true
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/production?schema=public"
BUNDLE=WORKERS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URI="redis://localhost:6379"
GCP_PROJECT_ID="nway-gateway-production"
GCP_LOGS_PROJECT_ID="nway-logs-production"
GCP_LOGS_KEY_FILE=''
TYPESENSE_HOST="localhost"
TYPESENSE_PORT="8108"
TYPESENSE_PROTOCOL="http"
TYPESENSE_API_KEY="xyz"
CLERK_SECRET_KEY=sk_test_
CLERK_PEM="-----BEGIN PUBLIC KEY-----
-----END PUBLIC KEY-----"